<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Administrator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Administrator.Properties.Settings.administrator_dbConnectionString" connectionString="Data Source=Alert\SQLEXPRESS;Initial Catalog=administrator_db;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="Log\Администратор.log"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <maximumFileSize value="10MB"/>
      <maxSizeRollBackups value="2"/>
      <layout type="log4net.Layout.PatternLayout">
        <!-- Pattern to output the caller's file name and line number -->
        <conversionPattern value="%date %5level (%logger) - %message%newline"/>
      </layout>
    </appender>

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
  <userSettings>
    <Administrator.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value/>
      </setting>
    </Administrator.Properties.Settings>
  </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.Data.v9.1" publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.1.5.0" newVersion="9.1.5.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
