<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ALProjects.Data.DataAccessLevel.Properties.Settings.SDControlConnectionString"
            connectionString="Data Source=MICROSOF-C63F18\SQLEXPRESS;Initial Catalog=SDControl;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>